


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




body{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }








*{
    margin: 0;
}
















.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition:  2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

























.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:#b6ff9e;
    backdrop-filter: blur(15px);
    

}

.nav-title{
    font-size: 40px;
    font-weight: 800;
    text-shadow: 2px 2px 2px #93dd7a;
}


.nav-menu-ul{
    display: flex;
    gap: 20px;
}

.nav-menu-li{
    list-style: none;
}

.nav-menu-a{

    text-decoration: none;
    color: black;
}













.banner-upper-image{
    width: 100%;
    height: auto;
    

  
  
    
    
}


.banner-image-div{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    width: 300px;
    height: auto;
    gap: 5px;

}

.banner-img-div{
    
}

.banner-image{
    width: 360px;
    height: 240px;
    justify-content: center;
    border-radius: 8px;
    gap: 0px;
    
    
}
.banner-image:hover{
    width: 360px;
    height: 220px;
    justify-content: center;
    border-radius: 8px;
    gap: 0px;
    box-shadow: 2px 4px 3px #b6ff9e, 2px 4px 3px rgb(22, 49, 13);
    
}

.banner{

    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5% 50px 5%;

    
}


.banner-content{
    margin-left: 40%;
    
    
    padding: 20px;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    background: #2fff001d;
    
}



.banner-trend-a{
    margin-bottom: 80px;
    color: black;
    text-decoration: none;
    
}

.banner-trend-a:hover{
    margin-bottom: 80px;
    color: black;
    text-shadow: 1px 1px 1px #b6ff9e, 1px 1px 1px rgb(22, 49, 13);
    text-decoration: underline;

    
}

.banner-title:hover{
    margin: 25px 0px;
    text-shadow: 1px 1px 1px #b6ff9e, 1px 1px 1px rgb(22, 49, 13);

}

.banner-title{
    margin: 25px 0px;
    
}

.banner-desc{
    margin: 10px 0px;
}

.banner-desc:hover{
    
    text-shadow: 1px 1px 1px #b6ff9e, 1px 1px 1px rgb(22, 49, 13);
    
    margin: 10px 0px;
}
















.latest{
margin-top: px;

padding-top: 30px;
margin-bottom: 0px;
padding-bottom: 50px;

}

.latest-div{

    display: grid;
    grid-template-columns: repeat(3,3fr);
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    
    padding-top: 10px;
    border-radius: 8px;
    
    
}


.latest-title-main{
    font-size: 45px;
    margin-left: 10% ;
    margin-bottom: 20px;
    border-left: 10px solid #b6ff9e;
}
.latest-title-main:hover{
    transform: translateY(-20px);
    transition: 1s;

    font-size: 45px;
    margin-left: 10% ;
    margin-bottom: 20px;
    background-color: #b6ff9e;
    margin-right: 75%;
    border-radius: 8px;
}


.latest-div{
    
    
}

.latest-image{
    border-top: 1px;
    border-radius: 8px;
    width: 350px;
    height: 280px;
    padding: 0px;
    
}

.latest-a{
    text-decoration: none;
    
    margin-bottom: 20px;
    background-color:#e9ffe2;
    padding: 0px;
    border-radius: 8px;
    
    
}
.latest-a:hover{
    transform: translateY(-20px);
    transition: 1s;

    text-decoration: none;
    
    margin-bottom: 20px;
    background-color:#e9ffe2;
    padding: 0px;
    border-radius: 8px;
    
    
}

.latest-title{
    text-align: left;
    margin: 20px 10px;
    padding-bottom: 10px;
    font-size: ;
    color: black;

}
.latest-desc{
    margin: 10px 10px;
    color: #000000;
}

.latest-button{
    background-color:#b6ff9e;
    padding: 10px 20px;
    border: 1px solid #93dd7a;
    border-radius: 8px;
    margin: 20px 10px;
}













.posts{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    background-color: #f0fff2;
    padding-top: 90px;
    padding-bottom: 50px;
}


.feature-post{
    margin-left: 10%;
}


.feature-post-image{
    width: 660px;
    margin: 30px 0px;
}

.f-main-title{
    border-bottom:  5px solid #b6ff9e ;
    margin: 0px 400px 20px 10px;

}
.f-main-title:hover{
    border:  5px solid #b6ff9e;
    background-color: #b6ff9e;
    border-radius: 8px;
    margin: 10px 700px 20px 10px;
    box-shadow:
    1px 1px 1px #000000   ;

    transform: translateY(-20px);
    transition: 1s;
    


}

.feature-post-title{

}

.feature-post-desc{
    margin: 20px 20% 20px 0px;
}

.feature-post-button{
    background-color:#b6ff9e;
    padding: 10px 20px;
    border: 1px solid #93dd7a;
    border-radius: 8px;
}
.feature-post-button:hover{
    background-color:#b6ff9e;
    padding: 10px 20px;
    border: 1px solid #93dd7a;
    border-radius: 8px;
    transform: translateY(-10px);
    transition: .4s;

    
}

.feature-button-a:hover{
    

}








.post-content{
    border-left: 5px solid #b6ff9e;
    text-align: center;
    margin: 50px 20% 50px 0px;
    background-color: #e1ffeb;
    padding: 20px 10px;
    border-radius: 8px;
    

}
.post-content:hover{
    border-left: 5px solid #b6ff9e;
    text-align: center;
    margin: 50px 20% 50px 0px;
    padding: 20px 10px;
    border-radius: 8px;
    background-color: #b6ff9e;
    box-shadow:
    1px 1px 1px #000000   ;
    transform: translateY(-10px);
    transition: 1s;

}


.post-content-a{
    text-decoration: none;
    color: #000000;
}

.all-p-title{
    border-bottom:  5px solid #b6ff9e ;
    margin: 0px 50px 20px 10px;

}




.all-p-title:hover{
    border:  5px solid #b6ff9e;
    
    border-radius: 8px;
    margin: 10px 250px 20px 10px;
    box-shadow:
    1px 1px 1px #000000   ;


}














.blog{
    display: flex;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 80px;
}


.main-title{
    font-size: 35px;
    font-weight: 800;
    padding-right: 0px;
    margin-left: 15%;
    border-bottom: 5px solid #b6ff9e;
    margin-right: 20%;
    margin-bottom: 40px;
}
.main-title:hover{
    font-size: 35px;
    font-weight: 800;
    margin-left: 15%;
    background-color: #b6ff9e;
    padding: 5px 10px;
    border-radius: 8px;
    border-bottom: 5px solid #b6ff9e;
    margin-right: 16%;
    margin-bottom: 40px;
    transform: translateY(-10px);
    transition: 1s;
}


.blog-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 60px 10% 0px 10%;
    box-shadow:
    1px 1px 1px 2px #e1ffe8;
    
    border-radius: 8px;
      
    
}

.blog-box:hover{

    width: 900px;

    margin: 60px 10%;
    box-shadow:
    3px 3px 3px 2px #b6ff9e;
    border-radius: 8px;
      
    transform: translateY(-10px);
    transition: 1s;
   
}

.blog-content-div{
    margin: 20px 5% 20px 0px;
    text-align: left;
}


.blog-image{
    width: 300px;
    height: 240px; 
    border-radius: 8px;
    margin: 0px 60px 0px 0px;  
    

}

.blog-title{
    margin: 0px 150px 10px 0px;
    ;
}

.blog-desc{
    margin: 5px 0px 5px 0px;
}

.blog-button{
    background-color:#b6ff9e;
    padding: 15px 40px;
    border: 1px solid #93dd7a;
    border-radius: 8px;
    margin: 15px 0px 5px 0px;
}



.ad{
    margin: 10px 0% 160px 10% ;
    padding: 0px 8% 450px 7% ;
    box-shadow: 2px 3px 2px 4px rgb(209, 209, 209);
    background-color: hsl(106, 100%, 95%);
    border-radius: 8px;
    width: 160px;
}

.add{
    margin : 300px 0px 100px 0px;
    font-size: 25px;
    
}









.sponsors{
    margin: 0px 15% 60px 15%;
}

.sponsors:hover{
    transform: translateY(-10px);
    transition: .6s;
    box-shadow: 2px 1px 3px 4px rgb(188, 255, 193);
    border-radius: 8px;
    padding: 10px;

}


.sponsor-title{
    margin: 0px 7% 40px 0px;
    font-size: 35px;
    font-weight: 700;
    border-bottom: 5px solid #b6ff9e;
}

.sponsors-images{
    display: grid;
    grid-template-columns: repeat(5,5fr);
}

.sponsor-image{
    width: 60%;
    filter: grayscale(100%) ;
     
}








































.border{
    
}


.footer{
    
    background-color: #5a5f58;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.footer-title{
    border-top: 2px solid white;
    font-size: 35px;
    font-weight: 700;
    padding: 40px 0px 10px 0px;
    padding-right: 35%;
}

.help-desc{
    display: flex;
    justify-content: center;
    gap: 50px;
    
}

.footer-desc{
    margin: 20px 0px;
}














.copyright{
    background-color: #b6ff9e;
    margin: 0px;
    padding: 20px 0px;
    text-align: center;
}



































@media screen and (max-width : 576px) {


    /* *{
        border: 2px solid red;
    } */
    
    .blog-box,
    .navbar,
    
    .banner,
    .posts
    
    {
        display: block;
    }

    .navbar{
        margin: 0px;
        padding: 20px 0px 0px 0px;
        text-align: center;
    }
    .nav-title{
        margin: 0px;
        padding: 0px;
    }

    .nav-menu-ul{
        margin: 10px 0px 0px 0%;
        padding-bottom: 20px;
    }
    .nav-menu-li{
        
    }

    .banner{
        justify-content: center;
        margin-left: 3%;
    }
    .banner-content{
        
        margin: 40px 0px 0px 0px;
    }

    .banner-image-div{
        margin: 0px ;
        justify-content: center;
        margin-left: 3%;

    }
    .banner-image{
        width: 100%;
        height: auto;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0%;

    }
    
    .posts{
        width: 95%;
        margin: 10px;
        padding: 0px;
        
    }


    .feature-post-image{
        width: 95%;
    }

    .feature-post-title{
        margin: 40px 10%;
    }
    .feature-post-desc{
        margin: 10px 10%;
    }
    .feature-post-button{
        margin: 40px 10% 60px 10%;
    }

    .post-content{
        margin-left: 15%;
    }
    .post-content:hover{
        margin-left: 15%;
    }

    .all-p-title{
        margin-left: 15%;
    }
    .all-p-title:hover{
        margin-left: 15%;
    }

    .blog-box{
        width: 80%;
        
    }
    .blog-box:Hover{
        width: 80%;
    }
    .blog-image{
        width: 80%;
        height: auto;
        margin: 10% 0% 0% 10%;
    }
    .blog-image:hover{
        width: 80%;
        height: auto;
        
        margin: 10% 0% 0% 10%;
        
    }
    .blog-content-div{
        margin: 30px 10px;
        margin: 0% 0% 0% 10%;
    }

    .blog-title , .blog-desc{
        margin: 10px 0px;
        padding: 10px 0px;
    }

    .blog-button{
        margin-bottom: 20px;
    }

    .ad{
        display:none ;
    }


    .sponsors{
        margin-top: 100px;
    }








    .banner-image-div,
    .latest-div
    
    {
        grid-template-columns: repeat(1,1fr);
    }


























    .reveal{
        position: relative;
        transform: translateY(200px);
        opacity: 0;
        transition:  1s ease;
    }
    
    .reveal.active{
        transform: translateY(0px);
        opacity: 1;
    }






}